body {
  background-color: #303030 ;
}

.headerButton {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;   
  color: #068758
}

.submitButton {
  align-content: center;
  text-align: center;
}

td {
  vertical-align: center;
  padding: "10px";
}